In [1]:
import pandas as pd
import numpy as np
import re
import lxml

from bs4 import BeautifulSoup
from requests import get

# Getting Urls From IMDB's Pollmaster Account

In [2]:
page=get('https://www.imdb.com/user/ur48187336/lists')
soup = BeautifulSoup(page.content, 'lxml')
content = soup.find(id="main")
urls=pd.DataFrame()
temp=pd.DataFrame()

for i in range(len(content.find_all("a", class_="list-name"))):
    link=content.find_all("a", class_="list-name")[i].get('href')
    year=content.find_all("a", class_="list-name")[i].text
    inf=[year, link]
    temp=temp.append(inf)
    urls=urls.append(temp.transpose())
    temp=pd.DataFrame()

urls=urls[urls[0].str.startswith('IMDb Top 250')==True]
urls.columns=['year', 'link']
urls['year']=urls['year'].apply(lambda x: 'imdb_' + str(x[13:]))
urls.reset_index(inplace=True)
urls['link']=urls['link'].apply(lambda x: 'https://www.imdb.com' + x)
urls=urls.sort_values(['year'])
urls=urls.drop(['index'], axis=1)
urls=urls.reset_index()
urls=urls.drop('index', axis=1)
urls['page2']=urls['link'].apply(lambda x: x + "?page=2" )
urls['page3']=urls['link'].apply(lambda x: x + "?page=3" )

urls

,year,link,page2,page3
0,imdb_1996,https://www.imdb.com/list/ls058374925/,https://www.imdb.com/list/ls058374925/?page=2,https://www.imdb.com/list/ls058374925/?page=3
1,imdb_1997,https://www.imdb.com/list/ls058374938/,https://www.imdb.com/list/ls058374938/?page=2,https://www.imdb.com/list/ls058374938/?page=3
2,imdb_1998,https://www.imdb.com/list/ls058374935/,https://www.imdb.com/list/ls058374935/?page=2,https://www.imdb.com/list/ls058374935/?page=3
3,imdb_1999,https://www.imdb.com/list/ls058374916/,https://www.imdb.com/list/ls058374916/?page=2,https://www.imdb.com/list/ls058374916/?page=3
4,imdb_2000,https://www.imdb.com/list/ls058374978/,https://www.imdb.com/list/ls058374978/?page=2,https://www.imdb.com/list/ls058374978/?page=3
5,imdb_2001,https://www.imdb.com/list/ls058374971/,https://www.imdb.com/list/ls058374971/?page=2,https://www.imdb.com/list/ls058374971/?page=3
6,imdb_2002,https://www.imdb.com/list/ls058374956/,https://www.imdb.com/list/ls058374956/?page=2,https://www.imdb.com/list/ls058374956/?page=3
7,imdb_2003,https://www.imdb.com/list/ls058374957/,https://www.imdb.com/list/ls058374957/?page=2,https://www.imdb.com/list/ls058374957/?page=3
8,imdb_2004,https://www.imdb.com/list/ls058374907/,https://www.imdb.com/list/ls058374907/?page=2,https://www.imdb.com/list/ls058374907/?page=3
9,imdb_2005,https://www.imdb.com/list/ls058374441/,https://www.imdb.com/list/ls058374441/?page=2,https://www.imdb.com/list/ls058374441/?page=3
10,imdb_2006,https://www.imdb.com/list/ls058374468/,https://www.imdb.com/list/ls058374468/?page=2,https://www.imdb.com/list/ls058374468/?page=3
11,imdb_2007,https://www.imdb.com/list/ls059103463/,https://www.imdb.com/list/ls059103463/?page=2,https://www.imdb.com/list/ls059103463/?page=3
12,imdb_2008,https://www.imdb.com/list/ls059103460/,https://www.imdb.com/list/ls059103460/?page=2,https://www.imdb.com/list/ls059103460/?page=3
13,imdb_2009,https://www.imdb.com/list/ls059103419/,https://www.imdb.com/list/ls059103419/?page=2,https://www.imdb.com/list/ls059103419/?page=3
14,imdb_2010,https://www.imdb.com/list/ls059103477/,https://www.imdb.com/list/ls059103477/?page=2,https://www.imdb.com/list/ls059103477/?page=3
15,imdb_2011,https://www.imdb.com/list/ls059100220/,https://www.imdb.com/list/ls059100220/?page=2,https://www.imdb.com/list/ls059100220/?page=3
16,imdb_2012,https://www.imdb.com/list/ls059100236/,https://www.imdb.com/list/ls059100236/?page=2,https://www.imdb.com/list/ls059100236/?page=3
17,imdb_2013,https://www.imdb.com/list/ls059100407/,https://www.imdb.com/list/ls059100407/?page=2,https://www.imdb.com/list/ls059100407/?page=3
18,imdb_2014,https://www.imdb.com/list/ls073255328/,https://www.imdb.com/list/ls073255328/?page=2,https://www.imdb.com/list/ls073255328/?page=3
19,imdb_2015,https://www.imdb.com/list/ls033314130/,https://www.imdb.com/list/ls033314130/?page=2,https://www.imdb.com/list/ls033314130/?page=3
20,imdb_2016,https://www.imdb.com/list/ls062249377/,https://www.imdb.com/list/ls062249377/?page=2,https://www.imdb.com/list/ls062249377/?page=3
21,imdb_2017,https://www.imdb.com/list/ls021169430/,https://www.imdb.com/list/ls021169430/?page=2,https://www.imdb.com/list/ls021169430/?page=3
22,imdb_2018,https://www.imdb.com/list/ls041322734/,https://www.imdb.com/list/ls041322734/?page=2,https://www.imdb.com/list/ls041322734/?page=3

# Creating A Function For Getting Informations From IMDB List

In [3]:
def imdb_100(url, x):
    df=pd.DataFrame()
    fin=pd.DataFrame()
    
    page = get(url)
    soup = BeautifulSoup(page.content, 'lxml')
    content = soup.find(id="main")

    Frame = content.find_all("div", class_="lister-item mode-detail")

    for i in range(x):
        temp=pd.DataFrame()
        
        articleTitle = soup.find("h1", class_="header").text.replace("\n","")
        FirstLine = Frame[i].find("h3", class_="lister-item-header")

        Ranking = FirstLine.find("span").text
        IMDBlink = FirstLine.find("a").get("href")

        Title = FirstLine.find("a").text
        Date = re.sub(r"[()]","", FirstLine.find_all("span")[-1].text)
        RunTime = Frame[i].find("span", class_="runtime").text[:-4]
        Genre = Frame[i].find("span", class_="genre").text.rstrip().replace("\n","")
        Rating = Frame[i].find("span", class_="ipl-rating-star__rating").text
        try:
            Score = Frame[i].find("span", class_="metascore favorable").text.rstrip()
        except:
            Score = None

        Votes = Frame[i].find_all("p", class_="text-muted")[-1].text.lstrip().replace('\n', '').split('|')[0][6:]

        try:
            Gross = Frame[i].find_all("p", class_="text-muted")[-1].text.lstrip().replace('\n', '').split('|')[1][7:]
        except:
            Gross=None

        a=Frame[i].find_all("p", class_="text-muted text-small")[1].text.split('|')
        Director=a[0].strip().replace('\n', ' ')
        a=Frame[i].find_all("p", class_="text-muted text-small")[1].text.split('|')
        Cast=a[1].strip().replace('\n', ' ')
        lis=[articleTitle, Ranking, IMDBlink, Title, Date, RunTime, Genre, Rating, Score, Votes, Gross, Director, Cast]
        temp=temp.append(lis)
        df=df.append(temp.transpose())
        
    return df

# Also, A Function For Correcting Some Infos

In [4]:
def correct(df, x):
    columns=["IMDByear", "Ranking", "IMDBlink", "Title", "Date", "RunTime", "Genre", "Rating", "Score", "Votes", "Gross", "Director", "Cast"]

    df.columns=columns

    df.set_index('Ranking', inplace=True)

    df['Cast1']=df['Cast'].apply(lambda x: x.split(',')[0])
    df['Cast2']=df['Cast'].apply(lambda x: x.split(',')[1])

    df['Cast3']='x'
    for i in range(x):
        try:
            df['Cast3'][i]=df['Cast'][i].split(',')[2]

        except:
            df['Cast3'][i]=None

    df['Cast4']='x'
    for i in range(x):
        try:
            df['Cast4'][i]=df['Cast'][i].split(',')[3]

        except:
            df['Cast4'][i]=None

    df['Votes']=df['Votes'].apply(lambda x: x.replace(',', ''))
    df['Gross']=df['Gross'].apply(lambda x: x.replace('$', '') if x!=None else x)
    df['Gross']=df['Gross'].apply(lambda x: x.replace('M', '') if x!=None else x)
    df=df.apply(pd.to_numeric, errors='ignore')
    
    df['Cast1']=df['Cast1'].apply(lambda x: x.replace('Stars:', ''))
    df['Director']=df['Director'].apply(lambda x: x.replace('Directors: ', ''))
    df['Director']=df['Director'].apply(lambda x: x.replace('Director: ', ''))
    df.drop('Cast', axis=1, inplace=True)

    df=df.reset_index()
    return df

# Getting Infos

In [5]:
# Create a dictionary of dataframes so save all the infos

d={}
for year in urls.year:
    d[year]=pd.DataFrame()

d1={}
for year in urls.year:
    d1[year]=pd.DataFrame()
    
d2={}
for year in urls.year:
    d2[year]=pd.DataFrame()

In [6]:
#getting infos from the list's first page
for i in range(23):
    d[urls['year'][i]]=correct(imdb_100(urls['link'][i], 100), 100)

In [7]:
#getting infos from the list's second page
for i in range(23):
    d1[urls['year'][i]]=correct(imdb_100(urls['page2'][i], 100), 100)

In [8]:
#getting infos from the list's first page
for i in range(23):
    d2[urls['year'][i]]=correct(imdb_100(urls['page3'][i], 50), 50)

In [9]:
#Concatenating all dictionaries of dataframes
df=pd.concat(d, ignore_index=True)
df1=pd.concat(d1, ignore_index=True)
df2=pd.concat(d2, ignore_index=True)

dfs=pd.concat([df, df1, df2], ignore_index=True)

dfs['IMDByear']=dfs['IMDByear'].apply(lambda x: x[13:])
dfs['Date']=dfs['Date'].astype(str)
dfs['Date']=dfs['Date'].apply(lambda x: x.replace('II ', '').replace('I ', '').replace(' TV Movie', '').replace(' TV Short', ''))
dfs=dfs.sort_values(['IMDByear', 'Ranking'])

In [10]:
dfs.to_excel('imdb250.xlsx')

In [11]:
dfs.head(52)

,Ranking,IMDByear,IMDBlink,Title,Date,RunTime,Genre,Rating,Score,Votes,Gross,Director,Cast1,Cast2,Cast3,Cast4
0,1.,1996,/title/tt0076759/,Star Wars,1977,121,"Action, Adventure, Fantasy",8.6,90.0,1141596,322.74,George Lucas,Mark Hamill,Harrison Ford,Carrie Fisher,Alec Guinness
9,10.,1996,/title/tt0108052/,Schindler's List,1993,195,"Biography, Drama, History",8.9,94.0,1113632,96.90,Steven Spielberg,Liam Neeson,Ralph Fiennes,Ben Kingsley,Caroline Goodall
99,100.,1996,/title/tt0113326/,Hung fan kui,1995,104,"Action, Comedy, Crime",6.7,61.0,36321,32.39,Stanley Tong,Jackie Chan,Anita Mui,Françoise Yip,Bill Tung
2300,101.,1996,/title/tt0107616/,Much Ado About Nothing,1993,111,"Comedy, Drama, Romance",7.3,NaN,42846,22.55,Kenneth Branagh,Kenneth Branagh,Emma Thompson,Keanu Reeves,Kate Beckinsale
2301,102.,1996,/title/tt0081398/,Raging Bull,1980,129,"Biography, Drama, Sport",8.2,89.0,294695,23.38,Martin Scorsese,Robert De Niro,Cathy Moriarty,Joe Pesci,Frank Vincent
2302,103.,1996,/title/tt0067185/,Harold and Maude,1971,91,"Comedy, Drama, Romance",7.9,62.0,66467,NaN,Hal Ashby,Ruth Gordon,Bud Cort,Vivian Pickles,Cyril Cusack
2303,104.,1996,/title/tt0116191/,Emma,1996,120,"Comedy, Drama, Romance",6.6,66.0,33422,22.20,Douglas McGrath,Gwyneth Paltrow,James Cosmo,Greta Scacchi,Alan Cumming
2304,105.,1996,/title/tt0104684/,Lat sau san taam,1992,128,"Action, Crime, Thriller",7.8,NaN,44262,NaN,John Woo,Yun-Fat Chow,Tony Chiu-Wai Leung,Teresa Mo,Philip Chan
2305,106.,1996,/title/tt0101700/,Delicatessen,1991,99,"Comedy, Crime",7.6,66.0,75886,1.79,"Marc Caro, Jean-Pierre Jeunet",Marie-Laure Dougnac,Dominique Pinon,Pascal Benezech,Jean-Claude Dreyfus
2306,107.,1996,/title/tt0106977/,The Fugitive,1993,130,"Action, Crime, Drama",7.8,87.0,249305,183.88,Andrew Davis,Harrison Ford,Tommy Lee Jones,Sela Ward,Julianne Moore
2307,108.,1996,/title/tt0075686/,Annie Hall,1977,93,"Comedy, Romance",8.0,92.0,239351,39.20,Woody Allen,Woody Allen,Diane Keaton,Tony Roberts,Carol Kane
2308,109.,1996,/title/tt0082096/,Das Boot,1981,149,"Adventure, Drama, Thriller",8.3,86.0,214755,11.49,Wolfgang Petersen,Jürgen Prochnow,Herbert Grönemeyer,Klaus Wennemann,Hubertus Bengsch
10,11.,1996,/title/tt0033467/,Citizen Kane,1941,119,"Drama, Mystery",8.3,100.0,370041,1.59,Orson Welles,Orson Welles,Joseph Cotten,Dorothy Comingore,Agnes Moorehead
2309,110.,1996,/title/tt0054698/,Breakfast at Tiffany's,1961,115,"Comedy, Drama, Romance",7.7,76.0,153876,NaN,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen
2310,111.,1996,/title/tt0085859/,Local Hero,1983,111,"Comedy, Drama",7.3,82.0,19162,5.90,Bill Forsyth,Burt Lancaster,Peter Riegert,Fulton Mackay,Denis Lawson
2311,112.,1996,/title/tt0114011/,Now and Then,1995,100,"Comedy, Drama, Romance",6.8,NaN,25455,27.40,Lesli Linka Glatter,Christina Ricci,Demi Moore,Rosie O'Donnell,Thora Birch
2312,113.,1996,/title/tt0103130/,Trust,1990,107,"Comedy, Drama",7.4,67.0,8627,0.36,Hal Hartley,Adrienne Shelly,Martin Donovan,Rebecca Nelson,John MacKay
2313,114.,1996,/title/tt0112817/,Dead Man,1995,121,"Drama, Fantasy, Western",7.6,62.0,84988,1.04,Jim Jarmusch,Johnny Depp,Gary Farmer,Crispin Glover,Lance Henriksen
2314,115.,1996,/title/tt0046250/,Roman Holiday,1953,118,"Comedy, Romance",8.0,78.0,119205,NaN,William Wyler,Gregory Peck,Audrey Hepburn,Eddie Albert,Hartley Power
2315,116.,1996,/title/tt0042876/,Rashômon,1950,88,"Crime, Drama, Mystery",8.2,98.0,138621,0.10,Akira Kurosawa,Toshirô Mifune,Machiko Kyô,Masayuki Mori,Takashi Shimura
2316,117.,1996,/title/tt0097441/,Glory,1989,122,"Biography, Drama, History",7.8,78.0,114517,26.83,Edward Zwick,Matthew Broderick,Denzel Washington,Cary Elwes,Morgan Freeman
2317,118.,1996,/title/tt0086197/,The Right Stuff,1983,193,"Adventure, Biography, Drama",7.8,91.0,53151,21.50,Philip Kaufman,Sam Shepard,Scott Glenn,Ed Harris,Dennis Quaid
2318,119.,1996,/title/tt0027977/,Modern Times,1936,87,"Comedy, Drama, Family",8.5,96.0,196337,0.16,Charles Chaplin,Charles Chaplin,Paulette Goddard,Henry Bergman,Tiny Sandford
11,12.,1996,/title/tt0110912/,Pulp Fiction,1994,154,"Crime, Drama",8.9,94.0,1684570,107.93,Quentin Tarantino,John Travolta,Uma Thurman,Samuel L. Jackson,Bruce Willis
2319,120.,1996,/title/tt0017136/,Metropolis,1927,153,"Drama, Sci-Fi",8.3,98.0,147413,1.24,Fritz Lang,Brigitte Helm,Alfred Abel,Gustav Fröhlich,Rudolf Klein-Rogge
2320,121.,1996,/title/tt0113862/,Mr. Holland's Opus,1995,143,"Drama, Music",7.3,NaN,33860,82.57,Stephen Herek,Richard Dreyfuss,Glenne Headly,Jay Thomas,Olympia Dukakis
2321,122.,1996,/title/tt0050976/,Det sjunde inseglet,1957,96,"Drama, Fantasy",8.2,NaN,146889,NaN,Ingmar Bergman,Max von Sydow,Gunnar Björnstrand,Bengt Ekerot,Nils Poppe
2322,123.,1996,/title/tt0103873/,Braindead,1992,104,"Comedy, Horror",7.5,NaN,87452,0.24,Peter Jackson,Timothy Balme,Diana Peñalver,Elizabeth Moody,Ian Watkin
2323,124.,1996,/title/tt0115956/,Courage Under Fire,1996,116,"Action, Drama, Mystery",6.6,77.0,47494,59.03,Edward Zwick,Denzel Washington,Meg Ryan,Lou Diamond Phillips,Michael Moriarty
2324,125.,1996,/title/tt0112384/,Apollo 13,1995,140,"Adventure, Drama, History",7.6,77.0,250469,173.84,Ron Howard,Tom Hanks,Bill Paxton,Kevin Bacon,Gary Sinise
2325,126.,1996,/title/tt0110357/,The Lion King,1994,88,"Animation, Adventure, Drama",8.5,88.0,865613,422.78,"Roger Allers, Rob Minkoff",Matthew Broderick,Jeremy Irons,James Earl Jones,Whoopi Goldberg
2326,127.,1996,/title/tt0070735/,The Sting,1973,129,"Comedy, Crime, Drama",8.3,83.0,224567,159.60,George Roy Hill,Paul Newman,Robert Redford,Robert Shaw,Charles Durning
2327,128.,1996,/title/tt0108399/,True Romance,1993,119,"Crime, Drama, Romance",7.9,NaN,192089,12.28,Tony Scott,Christian Slater,Patricia Arquette,Dennis Hopper,Val Kilmer
2328,129.,1996,/title/tt0052311/,Touch of Evil,1958,95,"Crime, Drama, Film-Noir",8.0,99.0,93695,2.24,Orson Welles,Charlton Heston,Orson Welles,Janet Leigh,Joseph Calleia
12,13.,1996,/title/tt0057012/,Dr. Strangelove or: How I Learned to Stop Worr...,1964,95,Comedy,8.4,97.0,421943,0.28,Stanley Kubrick,Peter Sellers,George C. Scott,Sterling Hayden,Keenan Wynn
2329,130.,1996,/title/tt0116583/,The Hunchback of Notre Dame,1996,91,"Animation, Drama, Family",6.9,74.0,130508,100.14,"Gary Trousdale, Kirk Wise",Demi Moore,Jason Alexander,Mary Kay Bergman,Corey Burton
2330,131.,1996,/title/tt0114924/,While You Were Sleeping,1995,103,"Comedy, Drama, Romance",6.7,67.0,85438,81.06,Jon Turteltaub,Sandra Bullock,Bill Pullman,Peter Gallagher,Peter Boyle
2331,132.,1996,/title/tt0065214/,The Wild Bunch,1969,135,"Action, Adventure, Western",7.9,95.0,73230,NaN,Sam Peckinpah,William Holden,Ernest Borgnine,Robert Ryan,Edmond O'Brien
2332,133.,1996,/title/tt0115736/,Bound,1996,109,"Crime, Romance, Thriller",7.3,61.0,47773,3.80,"Lana Wachowski, Lilly Wachowski",Jennifer Tilly,Gina Gershon,Joe Pantoliano,John P. Ryan
2333,134.,1996,/title/tt0053291/,Some Like It Hot,1959,121,"Comedy, Music, Romance",8.2,97.0,225272,25.00,Billy Wilder,Marilyn Monroe,Tony Curtis,Jack Lemmon,George Raft
2334,135.,1996,/title/tt0097165/,Dead Poets Society,1989,128,"Comedy, Drama",8.1,79.0,380624,95.86,Peter Weir,Robin Williams,Robert Sean Leonard,Ethan Hawke,Josh Charles
2335,136.,1996,/title/tt0110005/,Heavenly Creatures,1994,99,"Biography, Crime, Drama",7.3,NaN,56527,3.05,Peter Jackson,Melanie Lynskey,Kate Winslet,Sarah Peirse,Diana Kent
2336,137.,1996,/title/tt0109506/,The Crow,1994,102,"Action, Drama, Fantasy",7.6,71.0,157501,50.69,Alex Proyas,Brandon Lee,Michael Wincott,Rochelle Davis,Ernie Hudson
2337,138.,1996,/title/tt0061722/,The Graduate,1967,106,"Comedy, Drama, Romance",8.0,83.0,241317,104.95,Mike Nichols,Dustin Hoffman,Anne Bancroft,Katharine Ross,William Daniels
2338,139.,1996,/title/tt0079522/,Manhattan,1979,96,"Comedy, Drama, Romance",7.9,83.0,123482,45.70,Woody Allen,Woody Allen,Diane Keaton,Mariel Hemingway,Michael Murphy
13,14.,1996,/title/tt0068646/,The Godfather,1972,175,"Crime, Drama",9.2,100.0,1473352,134.97,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton
2339,140.,1996,/title/tt0100519/,Rosencrantz & Guildenstern Are Dead,1990,117,"Comedy, Drama",7.5,NaN,19781,0.74,Tom Stoppard,Gary Oldman,Tim Roth,Richard Dreyfuss,Livio Badurina
2340,141.,1996,/title/tt0050825/,Paths of Glory,1957,88,"Drama, War",8.4,NaN,160791,NaN,Stanley Kubrick,Kirk Douglas,Ralph Meeker,Adolphe Menjou,George Macready
2341,142.,1996,/title/tt0088794/,Better Off Dead...,1985,97,"Comedy, Romance",7.1,NaN,39212,10.30,Savage Steve Holland,John Cusack,David Ogden Stiers,Kim Darby,Demian Slade
2342,143.,1996,/title/tt0088247/,The Terminator,1984,107,"Action, Sci-Fi",8.0,84.0,744135,38.40,James Cameron,Arnold Schwarzenegger,Linda Hamilton,Michael Biehn,Paul Winfield
2343,144.,1996,/title/tt0100263/,Nikita,1990,117,"Action, Thriller",7.3,NaN,63806,5.02,Luc Besson,Anne Parillaud,Marc Duret,Patrick Fontana,Alain Lathière
2344,145.,1996,/title/tt0080520/,Cheech and Chong's Next Movie,1980,99,"Comedy, Crime, Sci-Fi",6.1,66.0,11125,41.68,Tommy Chong,Cheech Marin,Tommy Chong,Evelyn Guerrero,Betty Kennedy

# Getting Top1000 Voter's Values

In [13]:
dff=dfs[['Ranking', 'IMDByear', 'Title', 'IMDBlink']]
dff['IMDBlink']=dff['IMDBlink'].apply(lambda x: "https://www.imdb.com/" + x + "ratings?demo=top_1000_voters")
dff=dff.drop_duplicates('IMDBlink')
dff=dff.reset_index()
dff=dff.drop('index', axis=1)
dff

C:\Users\m.c\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Ranking,IMDByear,Title,IMDBlink
0,1.,1996,Star Wars,https://www.imdb.com//title/tt0076759/ratings?...
1,10.,1996,Schindler's List,https://www.imdb.com//title/tt0108052/ratings?...
2,100.,1996,Hung fan kui,https://www.imdb.com//title/tt0113326/ratings?...
3,101.,1996,Much Ado About Nothing,https://www.imdb.com//title/tt0107616/ratings?...
4,102.,1996,Raging Bull,https://www.imdb.com//title/tt0081398/ratings?...
...,...,...,...,...
703,183.,2018,Roma,https://www.imdb.com//title/tt6155172/ratings?...
704,232.,2018,Sanjuro,https://www.imdb.com//title/tt0056443/ratings?...
705,237.,2018,Mandariinid,https://www.imdb.com//title/tt2991224/ratings?...
706,29.,2018,Spider-Man: Into the Spider-Verse,https://www.imdb.com//title/tt4633694/ratings?...
707,56.,2018,Avengers: Infinity War,https://www.imdb.com//title/tt4154756/ratings?...

In [14]:
def topvote(link):
        page=get(link)
        soup = BeautifulSoup(page.content, 'lxml')
        f = soup.find_all("div", class_='allText')

        top=f[0].text.split('\n')[1].strip()
        return top

In [15]:
dff['#top1000']=dff['IMDBlink'].apply(lambda x: topvote(x))

In [20]:
def vote_res(link):
    
    page=get(link)
    soup = BeautifulSoup(page.content, 'lxml')
    f = soup.find_all("div", class_='allText')
    r10 = f[3].text.strip()
    r9 = f[6].text.strip()
    r8 = f[9].text.strip()
    r7 = f[12].text.strip()
    r6 = f[15].text.strip()
    r5 = f[18].text.strip()
    r4 = f[21].text.strip()
    r3 = f[24].text.strip()
    r2 = f[27].text.strip()        
    r1 = f[30].text.strip()
    
    rates=[r10, r9, r8, r7, r6, r5, r4, r3, r2, r1]
    return rates

In [21]:
dff['Rates']=dff['IMDBlink'].apply(lambda x: vote_res(x))

In [22]:
dff

,Ranking,IMDByear,Title,IMDBlink,#top1000,Rates
0,1.,1996,Star Wars,https://www.imdb.com//title/tt0076759/ratings?...,918,"[335, 197, 173, 76, 47, 33, 18, 5, 5, 29]"
1,10.,1996,Schindler's List,https://www.imdb.com//title/tt0108052/ratings?...,843,"[294, 229, 132, 72, 28, 23, 16, 9, 12, 28]"
2,100.,1996,Hung fan kui,https://www.imdb.com//title/tt0113326/ratings?...,477,"[28, 13, 44, 141, 120, 63, 29, 13, 6, 20]"
3,101.,1996,Much Ado About Nothing,https://www.imdb.com//title/tt0107616/ratings?...,460,"[29, 36, 76, 135, 80, 46, 19, 12, 8, 19]"
4,102.,1996,Raging Bull,https://www.imdb.com//title/tt0081398/ratings?...,749,"[149, 134, 182, 133, 54, 31, 17, 10, 8, 31]"
...,...,...,...,...,...,...
703,183.,2018,Roma,https://www.imdb.com//title/tt6155172/ratings?...,321,"[36, 42, 62, 69, 31, 25, 15, 15, 4, 22]"
704,232.,2018,Sanjuro,https://www.imdb.com//title/tt0056443/ratings?...,391,"[43, 53, 125, 76, 39, 14, 7, 9, 6, 19]"
705,237.,2018,Mandariinid,https://www.imdb.com//title/tt2991224/ratings?...,244,"[20, 31, 60, 56, 21, 13, 6, 2, 13, 22]"
706,29.,2018,Spider-Man: Into the Spider-Verse,https://www.imdb.com//title/tt4633694/ratings?...,477,"[78, 83, 112, 86, 39, 19, 12, 13, 10, 25]"
707,56.,2018,Avengers: Infinity War,https://www.imdb.com//title/tt4154756/ratings?...,660,"[141, 124, 141, 88, 57, 35, 19, 13, 13, 29]"

In [23]:
dff['Rate10']=dff['Rates'].apply(lambda x: x[0])
dff['Rate9']=dff['Rates'].apply(lambda x: x[1])
dff['Rate8']=dff['Rates'].apply(lambda x: x[2])
dff['Rate7']=dff['Rates'].apply(lambda x: x[3])
dff['Rate6']=dff['Rates'].apply(lambda x: x[4])
dff['Rate5']=dff['Rates'].apply(lambda x: x[5])
dff['Rate4']=dff['Rates'].apply(lambda x: x[6])
dff['Rate3']=dff['Rates'].apply(lambda x: x[7])
dff['Rate2']=dff['Rates'].apply(lambda x: x[8])
dff['Rate1']=dff['Rates'].apply(lambda x: x[9])

dff=dff.drop('Rates', axis=1)

dff

,Ranking,IMDByear,Title,IMDBlink,#top1000,Rate10,Rate9,Rate8,Rate7,Rate6,Rate5,Rate4,Rate3,Rate2,Rate1
0,1.,1996,Star Wars,https://www.imdb.com//title/tt0076759/ratings?...,918,335,197,173,76,47,33,18,5,5,29
1,10.,1996,Schindler's List,https://www.imdb.com//title/tt0108052/ratings?...,843,294,229,132,72,28,23,16,9,12,28
2,100.,1996,Hung fan kui,https://www.imdb.com//title/tt0113326/ratings?...,477,28,13,44,141,120,63,29,13,6,20
3,101.,1996,Much Ado About Nothing,https://www.imdb.com//title/tt0107616/ratings?...,460,29,36,76,135,80,46,19,12,8,19
4,102.,1996,Raging Bull,https://www.imdb.com//title/tt0081398/ratings?...,749,149,134,182,133,54,31,17,10,8,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
703,183.,2018,Roma,https://www.imdb.com//title/tt6155172/ratings?...,321,36,42,62,69,31,25,15,15,4,22
704,232.,2018,Sanjuro,https://www.imdb.com//title/tt0056443/ratings?...,391,43,53,125,76,39,14,7,9,6,19
705,237.,2018,Mandariinid,https://www.imdb.com//title/tt2991224/ratings?...,244,20,31,60,56,21,13,6,2,13,22
706,29.,2018,Spider-Man: Into the Spider-Verse,https://www.imdb.com//title/tt4633694/ratings?...,477,78,83,112,86,39,19,12,13,10,25
707,56.,2018,Avengers: Infinity War,https://www.imdb.com//title/tt4154756/ratings?...,660,141,124,141,88,57,35,19,13,13,29

In [24]:
dff=dff.apply(pd.to_numeric, errors='ignore')
dff=dff.drop('IMDBlink', axis=1)
round(dff.describe(), 2)

,Ranking,IMDByear,#top1000,Rate10,Rate9,Rate8,Rate7,Rate6,Rate5,Rate4,Rate3,Rate2,Rate1
count,708.00,708.00,708.00,708.00,708.00,708.00,708.00,708.00,708.00,708.00,708.00,708.00,708.00
mean,152.14,2001.27,618.61,99.23,88.03,154.77,114.78,60.50,34.44,17.66,12.63,11.22,25.36
std,72.47,6.48,171.02,65.77,50.77,56.50,37.18,22.37,12.14,6.83,4.86,5.15,10.21
min,1.00,1996.00,197.00,13.00,3.00,7.00,19.00,18.00,12.00,1.00,2.00,1.00,9.00
25%,95.00,1996.00,492.75,53.00,51.00,118.00,89.75,45.00,26.00,13.00,9.00,7.00,18.00
50%,163.50,1998.00,629.50,84.00,79.50,159.00,112.00,57.50,33.00,17.00,12.00,11.00,23.00
75%,217.00,2005.00,749.75,128.25,118.00,198.25,139.00,71.00,41.00,21.00,15.00,14.00,31.00
max,250.00,2018.00,935.00,432.00,247.00,301.00,290.00,168.00,88.00,42.00,33.00,30.00,73.00

# Merging Main IMDB Top250 Data & Top1000 Voter's Data

In [46]:
a=dfs.merge(dff, on=['Title'], suffixes=['a', 'a'])

In [49]:
b = a.loc[:,~a.columns.duplicated()]
b=b.rename(columns={"Rankinga": "Ranking", "IMDByeara": "IMDByear"})
b['Ranking']=b['Ranking'].apply(lambda x: x.replace('.', ''))
b['Ranking']=b['Ranking'].astype(int)

b=b.sort_values(['IMDByear', 'Ranking'])
b['Genre']=b['Genre'].apply(lambda x: x.split(','))

In [66]:
gen=pd.DataFrame(b['Genre'].values.tolist(), columns=['Genre1', 'Genre2', 'Genre3'], index=b['Title'])
b1=b.merge(gen, on='Title')
fin=b1.drop_duplicates(['IMDByear', 'Title', 'Rating'])
fin=fin.drop('Genre', axis=1)
fin=fin.sort_values(['IMDByear', 'Ranking'])
fin

,Ranking,IMDByear,IMDBlink,Title,Date,RunTime,Rating,Score,Votes,Gross,...,Rate7,Rate6,Rate5,Rate4,Rate3,Rate2,Rate1,Genre1,Genre2,Genre3
0,1,1996,/title/tt0076759/,Star Wars,1977,121,8.6,90.0,1141596,322.74,...,76,47,33,18,5,5,29,Action,Adventure,Fantasy
529,2,1996,/title/tt0111161/,The Shawshank Redemption,1994,142,9.3,80.0,2146449,28.34,...,70,33,21,10,8,10,17,Drama,None,None
1058,3,1996,/title/tt0117951/,Trainspotting,1996,93,8.1,83.0,598474,16.50,...,120,71,43,19,16,13,42,Drama,None,None
1587,4,1996,/title/tt0114814/,The Usual Suspects,1995,106,8.5,77.0,924114,23.34,...,100,52,38,16,10,11,24,Crime,Mystery,Thriller
2116,5,1996,/title/tt0108598/,The Wrong Trousers,1993,30,8.3,NaN,48093,NaN,...,73,42,19,9,5,5,14,Animation,Short,Comedy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40595,246,2018,/title/tt0056801/,8½,1963,138,8.0,NaN,100820,0.05,...,91,53,46,15,17,18,44,Drama,None,None
75301,247,2018,/title/tt0083922/,Fanny och Alexander,1982,188,8.1,100.0,52967,4.97,...,84,44,29,12,18,11,30,Drama,None,None
91018,248,2018,/title/tt1954470/,Gangs of Wasseypur,2012,321,8.2,89.0,71165,NaN,...,46,38,21,16,8,23,45,Action,Comedy,Crime
91190,249,2018,/title/tt4430212/,Drishyam,2015,163,8.3,NaN,57840,0.74,...,25,21,13,10,12,13,39,Crime,Drama,Mystery
91172,250,2018,/title/tt0374887/,Munna Bhai M.B.B.S.,2003,156,8.2,NaN,66614,NaN,...,32,27,16,12,12,16,50,Comedy,Drama,Musical

In [67]:
col=fin.columns.tolist()
cols=['Ranking','IMDByear','IMDBlink','Title','Date','RunTime','Rating','Score','Votes','Gross','Director',
      'Cast1','Cast2','Cast3','Cast4', 'Genre1','Genre2','Genre3','#top1000','Rate10','Rate9','Rate8','Rate7','Rate6',
      'Rate5','Rate4','Rate3','Rate2','Rate1']
fin=fin[cols]
fin.iloc[:, 10:18]=fin.iloc[:, 10:18].apply(lambda x: x.str.strip()) #removing whitespaces from string based columns

In [78]:
fin.to_excel('IMDBTop250.xlsx')